@import "tailwindcss";


@layer components {
  .btn-primary {
    border-radius: calc(infinity * 1px);
    background-color: var(--color-violet-500);
    padding-inline: --spacing(5);
    padding-block: --spacing(2);
    font-weight: var(--font-weight-semibold);
    color: var(--color-white);
    box-shadow: var(--shadow-md);

    &:hover {
      @media (hover: hover) {
        background-color: var(--color-violet-700);
      }
    }
  }
}

@keyframes toast-slide-down {
  from {
    opacity: 0;
    transform: translateY(-12px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-toast-slide-down {
  animation: toast-slide-down 180ms ease-out;
}

/* put in your app stylesheet for quick test */
/*
ion-icon {
  visibility: visible !important;
  opacity: 1 !important;
}

*/